<ul id="js-nav-menu" class="nav-menu">
	<li class="" href=patients.html?v=1737037980147 {{#is pagename "in" "undefined"}} class="active open" {{/is}}>
		<a href="patients.html?v=1737037980147" title="Liste des patients" data-filter-tags="liste des patients">
			<i class="{{iconPrefix}} fa-users"></i>
			<span class="nav-link-text" data-i18n="nav.liste_des_patients">Liste des patients</span>
		</a>
	</li>
	<li {{#is pagename "in" "javascript:void(0);?v=1737037980147,javascript:void(0);?v=1737037980147,javascript:void(0);?v=1737037980147"}}class="active open" {{/is}}>
		<a href="#" title="Facturation" data-filter-tags="facturation">
			<i class="{{iconPrefix}} fa-file-invoice-dollar"></i>
			<span class="nav-link-text" data-i18n="nav.facturation">Facturation</span>
		</a>
		<ul>
			<li {{#is pagename "===" "javascript:void(0);?v=1737037980147"}}class="active" {{/is}}>
				<a path=javascript:void(0);?v=1737037980147 href="javascript:void(0);?v=1737037980147" title="Soins" data-filter-tags="facturation soins">
					<span class="nav-link-text" data-i18n="nav.facturation_soins">Soins</span>
					<span class="menu_soins"></span>
				</a>
			</li>
			<li {{#is pagename "===" "javascript:void(0);?v=1737037980147"}}class="active" {{/is}}>
				<a path=javascript:void(0);?v=1737037980147 href="javascript:void(0);?v=1737037980147" title="Honoraires" data-filter-tags="facturation honoraires">
					<span class="nav-link-text" data-i18n="nav.facturation_honoraires">Honoraires</span>
					<span class="menu_honoraires"></span>
				</a>
			</li>
			<li {{#is pagename "===" "javascript:void(0);?v=1737037980147"}}class="active" {{/is}}>
				<a path=javascript:void(0);?v=1737037980147 href="javascript:void(0);?v=1737037980147" title="Pharmacie" data-filter-tags="facturation pharmacie">
					<span class="nav-link-text" data-i18n="nav.facturation_pharmacie">Pharmacie</span>
					<span class="menu_pharmacie"></span>
				</a>
			</li>
		</ul>
	</li>
	<li class="" href=encaissements.html?v=1737037980147 {{#is pagename "in" "undefined"}} class="active open" {{/is}}>
		<a href="encaissements.html?v=1737037980147" title="Liste des encaissements" data-filter-tags="liste des encaissements">
			<i class="{{iconPrefix}} fa-cash-register"></i>
			<span class="nav-link-text" data-i18n="nav.liste_des_encaissements">Liste des encaissements</span>
		</a>
	</li>
	<li class="" href=produits.html?v=1737037980147 {{#is pagename "in" "undefined"}} class="active open" {{/is}}>
		<a href="produits.html?v=1737037980147" title="Liste des produits" data-filter-tags="liste des produits">
			<i class="{{iconPrefix}} fa-users"></i>
			<span class="nav-link-text" data-i18n="nav.liste_des_produits">Liste des produits</span>
		</a>
	</li>
	<li class="" href=listePaillasses.html?v=1737037980147 {{#is pagename "in" "undefined"}} class="active open" {{/is}}>
		<a href="listePaillasses.html?v=1737037980147" title="Liste des Paillasses" data-filter-tags="liste des paillasses">
			<i class="undefined"></i>
			<span class="nav-link-text" data-i18n="nav.liste_des_paillasses">Liste des Paillasses</span>
		</a>
	</li>
</ul>
